@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --max-width-default: 768px;
    --max-width-minimum: 600px;
    --light-gray: #919191;
  }
}

html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  line-height: inherit;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}
::-webkit-scrollbar {
  background-color: transparent;
}

/* .container {
  max-width: calc(100% - 1.35rem);
}

.container-reading {
  max-width: 72ch;
} */
